div{
    border-style:dotted ;
    
}
nav{
    border-style: dashed;
}
blockquote{
    border-style: solid;
 
}
 p{
     border-style: double;
 }
 i{
     border-color: red;
     border-style: groove;
 }
 mark{
    border-color: red;
     border-style: ridge;
 }
 pre{
     border-width: 10px;
    border-color: red;
    border-style: inset;
 }
 center{
    border-width: 10px;
    border-color: red;
    border-style: outset;
 }
h2{
    border-width: 10px;
     border-top-style:dotted ;
     border-bottom-style: dashed;
     border-right-style: solid;
     border-left-style: double;
 }
 form{
    border-width: 10px;
    border-style: dotted double dashed  double  ;
border-color: blue red green navy;
}