body {
    display: block;
    margin: 8px;
}

body {
    margin: 0;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body {
    margin: 0 auto;
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background: #fff;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}

div {
    display: block;
}

header {
    display: block;
    background-color: #fff;
}

.section_1 {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    position: fixed;
}

.A2 {
    background-color: white;
}

.A3 {
    width: 100%;
    height: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -44px;
    background-color: #fff;
    position: fixed;
}

.A3 {
    max-width: 540px;
}

.A3 {
    max-width: 720px;
}

.A3 {
    max-width: 960px;
}

.A3 {
    max-width: 2000px;
}

.A4 {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 56px;
}

.A5 {
    /* -ms-flex-align: center!important; */
    align-items: center !important;
}

.A8 .A6 .A7 {
     width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.A8 {
    max-width: 100%;
}

.A7 {
    max-width: 100%;
}

.A6 {
    max-width: 25%;
}

.A9 {
    text-align: center;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a {
    background-color: transparent;
    outline: none;
}

a:active,
a:hover,
a:focus,
a:link {
    outline: none;
}

a:link,
a:visited {
    color: #f26c4f;
    text-decoration: none;
}

a:link,
a:visited {
    color: blue;
}

.A14 .A12 .A13 { 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.A15 {
    min-height: 90px;
    display: -webkit-box;
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;

}

nav {
    display: block;
    margin-right: -38rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin: 0 0 1em 1em;
    padding-left: 20px;
    margin-top: -76px;
}

ul {
    list-style: disc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.B1 {
    display: inline-block;
    text-align: -webkit-match-parent;
    margin-left: 1rem;
}

.B1:hover {
    border-bottom: 4px solid blue;
}

.B2 {
    border-bottom: 4px solid blue;
}

.Unodered_list {
    margin-top: -7rem;
    margin-right: -55rem;
    font-size: 25px;
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
}

img {
    height: auto;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

.logo {
    margin-left: 250px;
}
.banner {
    background-color: #f2f2f2;
    text-align: center; 
}
.banner {
    background: url(http://s872458114.onlinehome.us/wp-content/themes/metro/assets/img/banner.jpg) no-repeat scroll center center/cover;
}
.header-bgimg .banner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
.header-bgimg .banner:before {
    background-color: rgba(0,0,0,0);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 540px;
}
.container {
    max-width: 720px;
}
.container {
    max-width: 960px;
} 
.container {
    max-width: 1140px;
} 
.banner .banner-content { 
    padding: 22px 0 22px;
}
h1{
    margin-top: 112px;
    margin-bottom: 0.5rem;
}
h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h1{
    color: #222;
    margin-bottom: 20px;
    clear: both;
} 
h1 {
    font-family: Josefin Sans,sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    font-style: normal;
}
.banner .banner-content h1 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.1;
    word-wrap: break-word;
}
.banner .banner-content h1 {
    color: #000;
}
.site-content .content-area {
    padding: 80px 0;
}
.page-template-blank .site-content .content-area {
    padding: 0;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 
.elementor-section.elementor-section-stretched { 
    width: 100%;
}
element.style {
    width: 1349px;
    left: 0px;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
}
.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column {
    min-height: 1px;
}
.elementor-column, .elementor-column-wrap { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 50%;
}
.elementor-column, .elementor-column-wrap { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column-wrap {
    width: 100%;
}
.elementor-widget-wrap { 
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-591 .elementor-element.elementor-element-0e74a19>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor embed, .elementor iframe, .elementor object, .elementor video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.elementor-591 .elementor-element.elementor-element-388be61 iframe {
    height: 563px;
}
.elementor-column {
    min-height: 1px;
}
.elementor-column, .elementor-column-wrap { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 50%;
}
.elementor-column, .elementor-column-wrap { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column-wrap {
    width: 100%;
}
.elementor-591 .elementor-element.elementor-element-6a720ac>.elementor-element-populated { 
    padding: 80px 0 45px 50px;
}
.elementor-widget-wrap { 
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-591 .elementor-element.elementor-element-0e74a19>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
} 
h2{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h2 {
    font-size: 2rem;
}
h2{
    color: #222;
    margin-bottom: 20px;
    clear: both;
} 
h2 {
    font-family: Josefin Sans,sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    font-style: normal;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-591 .elementor-element.elementor-element-3c00452 {
    width: 475px;
    max-width: 475px;
}
.elementor-widget-wrap .elementor-element.elementor-widget__width-auto, .elementor-widget-wrap .elementor-element.elementor-widget__width-initial {
    max-width: 100%;
}
.elementor-widget:not(:last-child).elementor-absolute, .elementor-widget:not(:last-child).elementor-widget__width-auto, .elementor-widget:not(:last-child).elementor-widget__width-initial {
    margin-bottom: 0;
}
.elementor-591 .elementor-element.elementor-element-3c00452>.elementor-widget-container {
    padding: 0 0 10px;
}
.elementor-clearfix:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    margin: 0 0 1em 1em;
    padding-left: 20px;
    margin-top: -76px;
}
ul {
    list-style: disc;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.rt-el-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.rt-el-contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
}
.rt-el-contact ul li .rtin-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 30px;
}
.rt-el-contact ul li .rtin-icon i {
    font-size: 35px;
    line-height: 1;
    color: #444;
}
h4{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h4{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h4 {
    font-size: 1.5rem;
}
h4{
    color: #222;
    margin-bottom: 20px;
    clear: both;
}
h4 {
    font-family: Josefin Sans,sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    font-style: normal;
}
.rt-el-contact ul li .rtin-content .rtin-label {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: #111;
    margin-bottom: 10px;
}
.rt-el-contact ul li .rtin-content .rtin-value {
    margin: 0;
    color: #444;
}
.rt-el-contact ul li .rtin-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 30px;
}
.rt-el-contact ul li .rtin-icon i {
    font-size: 35px;
    line-height: 1;
    color: #444;
}
.elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
.rt-el-contact ul li .rtin-content .rtin-value a {
    color: #444;
}
.elementor-591 .elementor-element.elementor-element-a69d503 { 
    margin-top: -7px;
    margin-bottom: 0;
    padding: 90px 0;
}
.elementor-591 .elementor-element.elementor-element-a69d503:not(.elementor-motion-effects-element-type-background), .elementor-591 .elementor-element.elementor-element-a69d503>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f2f2f2;
}
.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
}
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1310px;
}
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}
.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
